[submodule "cola2_xiroi"]
	path = cola2_xiroi
	url = git@github.com:srv/cola2_xiroi.git
[submodule "xiroi_description"]
	path = xiroi_description
	url = git@github.com:srv/xiroi_description.git
[submodule "robot_localization"]
	path = robot_localization
	url = git@github.com:srv/robot_localization.git
[submodule "emlid_reach_tcp"]
	path = emlid_reach_tcp
	url = git@github.com:srv/emlid_reach_tcp.git
[submodule "memsense_imu"]
	path = memsense_imu
	url = git@github.com:srv/memsense_imu.git
[submodule "ned_tools"]
	path = ned_tools
	url = git@github.com:srv/ned_tools.git
[submodule "cola2_core"]
	path = cola2_core
	url = https://bitbucket.org/iquarobotics/cola2_core.git
[submodule "cola2_msgs"]
	path = cola2_msgs
	url = https://bitbucket.org/iquarobotics/cola2_msgs.git
[submodule "cola2_lib"]
	path = cola2_lib
	url = https://bitbucket.org/iquarobotics/cola2_lib.git
[submodule "imu_tools"]
	path = imu_tools
	url = https://github.com/ccny-ros-pkg/imu_tools.git

