[submodule "cola2_xiroi"]
	path = cola2_xiroi
	url = git@github.com:srv/cola2_xiroi.git
	branch = melodic
[submodule "xiroi_description"]
	path = xiroi_description
	url = git@github.com:srv/xiroi_description.git
	branch = melodic
[submodule "robot_localization"]
	path = robot_localization
	url = git@github.com:srv/robot_localization.git
	branch = melodic
[submodule "emlid_reach_tcp"]
	path = emlid_reach_tcp
	url = git@github.com:srv/emlid_reach_tcp.git
	branch = melodic
[submodule "memsense_imu"]
	path = memsense_imu
	url = git@github.com:srv/memsense_imu.git
	branch = melodic
[submodule "ned_tools"]
	path = ned_tools
	url = git@github.com:srv/ned_tools.git
	branch = melodic
[submodule "cola2_core"]
	path = cola2_core
	url = https://bitbucket.org/iquarobotics/cola2_core.git
	branch = master
[submodule "cola2_msgs"]
	path = cola2_msgs
	url = https://bitbucket.org/iquarobotics/cola2_msgs.git
	branch = master
[submodule "cola2_lib"]
	path = cola2_lib
	url = https://bitbucket.org/iquarobotics/cola2_lib.git
	branch = master
[submodule "imu_tools"]
	path = imu_tools
	url = git@github.com:srv/imu_tools.git
	branch = kinetic
[submodule "m4atx_battery_monitor"]
	path = m4atx_battery_monitor
	url = git@github.com:srv/m4atx_battery_monitor.git
	branch = melodic
[submodule "ros_arduino_bridge"]
	path = ros_arduino_bridge
	url = https://github.com/hbrobotics/ros_arduino_bridge.git
	branch = kinetic-devel
[submodule "mjpeg_server"]
	path = mjpeg_server
	url = https://github.com/srv/mjpeg_server.git
[submodule "image_proc_custom"]
	path = image_proc_custom
	url = git@github.com:srv/image_proc_custom.git
	branch = melodic
[submodule "evologics_ros_sync"]
	path = evologics_ros_sync
	url = git@github.com:srv/evologics_ros_sync.git
[submodule "usbl_position"]
	path = usbl_position
	url = git@github.com:srv/usbl_position.git
